{%  extends "base.html"  %}
{% block title %}Veterinaria Pet Lovers® - Agregar Receta
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block nav %}
<a href="/">Pagina de Inicio.</a>
{% endblock %}
{% block body %}
<h1>Agregar Receta:</h1>
<h2>{{mensaje}}</h2>
<form action="" method="POST">
    <label for="id_cita"> ID de la cita: </label>
    <input id="id_cita" name="id_cita" list="lista_citas" required><br>
    <label for="medicamento"> Seleccione el medicamento a agregar: </label>
    <input id="medicamentos"list="lista_medicamentos">  
    <input name="agregar" type="button" id="agregar" value="Agregar Medicamento" onclick="agregarMedicamento()"><br>
    <label for="medicamentosRecetados"> Medicamento(s) recetado(s): </label>
    <textarea id="medicamentosRecetados" name="medicamentosRecetados" required readonly></textarea><br>
    <label for="detalles"> Detalles: </label>
    <textarea id="detalles" name="detalles" required></textarea><br>
    <label for="subTotal">Sub Total: </label>
    <input id="subTotal" name="subTotal" readonly value="0"><br>
    <label for="fecha"> Fecha: </label>
    <input id="fecha" type="date" name="fecha" required><br>
    <input type="submit" name="enviar" value="Enviar">
    <script>
        function agregarMedicamento(){
            var texto = document.getElementById("medicamentos").value;
            document.getElementById("medicamentosRecetados").value += texto + ", ";
            document.getElementById("medicamentos").value = "";
            let texto2 = texto.replace("(",")");
            let arreglo = texto2.split(")");
            var monto = parseFloat(arreglo[1]) + parseFloat(document.getElementById("subTotal").value);
            document.getElementById("subTotal").value =monto;
        }
    </script>
</form>
<datalist id="lista_citas">
    {%for cita in dictCitas%}
        <option value="{{dictCitas[cita]['id']}}"></option>
    {%endfor%}
</datalist>
<datalist id="lista_medicamentos">
    {%for medicamento in dictMedicamentos%}
        <option value="{{dictMedicamentos[medicamento]['nombre']}}, {{dictMedicamentos[medicamento]['presentacion']}} ({{dictMedicamentos[medicamento]['precio']}})."></option>
    {%endfor%}
</datalist>

{% endblock %}