{%  extends "base.html"  %}
{% block title %}Veterinaria Pet Lovers® - Añadir Atención (Usuario/Administrador)
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block nav %}
    <a href="/">Pagina de Inicio.</a>
{% endblock %}
{% block body %}
<h1>Ingrese los datos para su proxima cita:</h1>
<h2>{{mensaje}}</h2>
<form action="" method="POST">
    <label for="nombre_paciente"> Nombre del paciente: </label>
    <input type="text" id="nombre_paciente" name="nombre_paciente" required><br>
    <label for="tipo"> Tipo de animal: </label>
    <input id="tipo" type="list" name="tipo" list="lista_tipo" required><br>
    <label for="atencion"> Atención a solicitar: </label>
    <input id="atencion" type="list" name="atencion" list="lista_atencion" required><br>
    <label for="cliente"> ID del cliente: </label>
    <input id="cliente" type="list" name="cliente" list="lista_clientes" required><br>
    <input type="submit" name="enviar" value="Enviar">
</form>
<datalist id="lista_clientes">
    {%for usuario in dictUsuarios%}
        {%if dictUsuarios[usuario]['tipo']=='cliente'%}
        <option value="{{dictUsuarios[usuario]['id']}}"></option>
        {%endif%}
    {%endfor%}
</datalist>
<datalist id="lista_tipo">
    <option value="Perro"></option>
    <option value="Gato"></option>
    <option value="Pez"></option>
    <option value="Ave"></option>
    <option value="Roedor"></option>
    <option value="Conejo"></option>
    <option value="Otro"></option>
</datalist>
<datalist id="lista_atencion">
    <option value="Veterinaria"></option>
    <option value="Boutique"></option>
</datalist>

{% endblock %}