<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
        <title>recibo</title>
        <link rel="stylesheet" href="css/recibo.css" type="text/css">
    </head>
<body>
    <table style="text-align: left;  width: 100%;" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="width: 25%;" colspan="1" rowspan="2"><img src="{{url_for('static', filename='img/logo.PNG')}}" margin="2px" width="100%" height="100%"></td>
                <td style="width: 75%; text-align: center;"><h3><strong>Veterinaria Pet Lovers</strong></h3><h4>Porque ellos lo merecen</h4></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h2>Servicios realizados el dia {{fecha}}:</h2>
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="width: 20%;">Atencion:</td>
                <td style="width: 20%;">Tipo:</td>
                <td style="width: 20%;">Sub total:</td>
                <td style="width: 20%;">IVA:</td>
                <td style="width: 20%;">Total:</td>
            </tr>
            {%for servicio in diccServicio%}
            <tr>
                <td>{{diccServicio[servicio]['numero']}}</td>
                <td>{{diccServicio[servicio]['tipo']}}</td>
                <td>{{diccServicio[servicio]['subTotal']}}</td>
                <td>{{diccIVA[servicio]}}</td>
                <td>{{diccTotal[servicio]}}</td>
            </tr>
            {%endfor%}
            <tr>
                <td></td>
                <td>Total neto:</td>
                <td>{{subTotal2}}</td>
                <td>{{IVA2}}</td>
                <td>{{totalNeto}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table style="text-align: left; width: 100%;" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="text-align: center;">Firma del Dueño:<br><br><br><hr style="width: 100%; height: 2px;"></td>
            </tr>
            <tr>
                <td style="text-align: center;" colspan="1" rowspan="1">
                    <span>Fecha de Expedición: {{fecha2}}</span><br><br><span>Pet Lovers 2022 | Todos los derechos reservados</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>