{%  extends "base.html"  %}
{% block title %}Veterinaria Pet Lovers® - Iniciar sesión
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block nav %}
<a href="/">Pagina de Inicio.</a>
{% endblock %}
{% block body %}
<h1 id="no_registrado"></h1>
<h1 id="contraseña_incorrecta"></h1>
<div class="body2">
    <div class="login-page">
        <center><h2>Inicio de sesión.</h2>
        <h3>Introduzca su usuario y contraseña.</h3>
        <h3>{{mensaje}}</h3></center>
        <div class="formLogin">
            <form action="" method="POST" class="login-form">
                <label for="user">Username:</label>
                <input type="text" id="username" name="username"  ><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" ><br>
                <input type="submit" name="enviar" value="Enviar" class="button">
                <p><a href="/cambiar_contraseña">Cambiar contraseña</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}