{%  extends "base.html"  %}
{% block title %}Veterinaria Pet Lovers® - Iniciar sesión
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block nav %}
<a href="/">Pagina de Inicio.</a>
{% endblock %}
{% block body %}
<h1 id="no_registrado"></h1>
<h1 id="contraseña_incorrecta"></h1>
<div class="body2">
    <div class="login-page">
        <h2>Modificacion de contraseña.</h2>
        <h3>Introduzca su usuario y su nueva contraseña.</h3>
        <h3>{{mensaje}}</h3>
        <div class="form">
            <form action="" method="POST" class="login-form">
                <label for="user">Username:</label>
                <input type="text" id="username" name="username"  ><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" ><br>
                <label for="npassword">Nueva Password:</label>
                <input type="npassword" id="npassword" name="npassword" ><br>
                <input type="submit" name="enviar" value="Enviar" class="button">
            </form>
        </div>
    </div>
</div>
{% endblock %}