{%  extends "base.html"  %}
{% block title %}Veterinaria Pet Lovers® - Usuario {{usuario['usuario']}}
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block nav %}
    <a href="/">Pagina de Inicio.</a>
    <a href="/usuarios">Atras.</a>
    <a href="/modificar_usuario/{{usuario['id']}}">Modificar Usuario.</a>
</ul>
{% endblock %}
{% block body %}
<p><strong>Nombre: </strong> {{usuario['nombreCompleto']}}</p>
<p><strong>Correo: </strong> {{usuario['correo']}}</p>
<p><strong>Tipo: </strong> {{usuario['tipo']}}</p>
{% endblock %}