{%  extends "base.html"  %}
{% block title %}Veterinaria Pet Lovers® - Usuarios
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block nav %}
    <a href="/">Pagina de Inicio.</a>
    <a href="/agregar_usuario">Agregar usuario.</a>
{% endblock %}
{% block body %}
<h2>Usuarios registrados:</h2>
<ul>
    {% for usuario in diccUsuarios %}
    <li><a href="/usuariova/{{diccUsuarios[usuario]['usuario']}}" class="liga">{{diccUsuarios[usuario]['nombreCompleto']}}</a></li>
    {% endfor %}
</ul>
{% endblock %}